<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title></title>
  <style>
      body {
          background-color: #f6f6f6;
          font-size: 16px;
          line-height: 1.4;
      }

      table {
          border-collapse: collapse;
      }

      td, th {
          padding: 4px 2px;
      }

      table th {
          vertical-align: bottom;
          font-size: 90%;
          text-align: left;
      }

      table tr {
          border: solid lightgrey;
          border-width: 1px 0;

      }

      @media only screen and (max-width: 620px) {
          body {
              font-size: 14px;
          }
      }

      @media all {

      }
  </style>
</head>
<body class=""
      style="background-color: #F5F5F5; font-family: sans-serif; -webkit-font-smoothing: antialiased; margin: 0; padding: 0;">
<br />
<div class="content"
     style="box-sizing: border-box; padding: 24px 12px; display: block; Margin: 24px auto; max-width: 620px; border-radius: 3px; background-color: white;">

  <!-- START MAIN CONTENT AREA -->
  <%= body %>

  <p>
    Mit freundlichen Grüßen <br />
    Das tacpic Team
  </p>
</div>

<div class="footer" style="color: #777777; font-size: 14px; clear: both; Margin-top: 10px; text-align: center; width: 100%;">
  <p>
    tacpic UG (haftungsbeschränkt)<br/>
    Breitscheidstr. 51, 39114 Magdeburg
  </p>
  <p><img alt="tacpic Logo" src="http://85.214.236.170/images/tacpic_small.png"/></p>
  <p>
    Tel.: <a href="tel:017643486710">0176 43486710</a><br/>
    Web: <a href="https://tacpic.de">tacpic.de</a>
  </p>
  <p>
    USt-IdNr.: DE328130974 | St.-Nr.: 102/117/03623<br />
    Amtsgericht Stendal, HRB 27976<br />
    Geschäftsführende: Laura Evers, Robert Wlcek, Florentin Förschler<br />
  </p>
</div>

</body>
</html>