<p>Guten Tag,</p>

<p></p>

<a href="<%= finalise_link %>" target="_blank">
  <div style="padding: 4px 6px; border: 1px solid #333333; border-radius: 3px; box-shadow: 2px 2px 2px lightgrey;">✓ Produzierten Auftrag bestätigen</div>
</a>