<p>Hallo,</p>

<p>Sie möchten Ihr Passwort zurücksetzen. Bitte folgen Sie dem Link am Ende dieser E-Mail.
  <br />
  Sollten Sie nicht wissen, warum Sie diese E-Mail bekommen haben, ignorieren Sie sie bitte.
</p>

<p><a href="<%= url %>">Passwort zurücksetzen</a></p>

<p>Mit freundlichen Grüßen</p>
<br />Das tacpic Team