<p>Hallo,</p>

<p>vielen Dank für Ihr Interesse an tacpic. Bitte klicken Sie zum Fortfahren auf den unten stehenden Link. Wenn Sie kein Konto auf tacpic.de erstellt haben, ignorieren Sie diese E-Mail bitte.
</p>

<p><a href="<%= url %>">Benutzerkonto bestätigen</a></p>