.idea/*
.idea
env.yml
env.rb
doc
logs
.yardoc
public/*
views/legal/*.inc
/files
/backups
/test/results
/assets/*.ttf
node_modules
package-lock.json
Gemfile.lock
wget-log
services/processor/BrailleDEComputer.woff
.history
.vscode
.rake_tasks~
config/whitelist.txt