.idea/*
.idea
env.yml
env.rb
doc
logs
.yardoc
public/*
views/legal/*.inc
/files
node_modules
package-lock.json
Gemfile.lock
services/processor/BrailleDEComputer.woff
.history
.vscode
.rake_tasks~
config/whitelist.txt