ENV['APPLICATION_BASE'] = '/path/to/base'

case ENV['RACK_ENV'] ||= 'development'

when 'test'
  ENV['TACPIC_SESSION_SECRET'] ||= "".unpack('m')[0]
  ENV['TACPIC_DATABASE_URL'] ||= ""
when 'production'
  ENV['TACPIC_SESSION_SECRET'] ||= "".unpack('m')[0]
  ENV['TACPIC_DATABASE_URL'] ||= ""
else
  ENV['TACPIC_SESSION_SECRET'] ||= "".unpack('m')[0]
  ENV['TACPIC_DATABASE_URL'] ||= ""
end