ENV['APPLICATION_BASE'] = '/path/to/base'

ENV['PARTNER_ID'] = ""
ENV['KEY_PHASE'] = ""
ENV['SCHLUESSEL_DPWN_MARKTPLATZ'] = ""
ENV['INTERNETMARKE_USERNAME'] = ""
ENV['INTERNETMARKE_PASSWORD'] = ""
ENV['INTERNETMARKE_AUTH_TIMEOUT'] = "" # 45min
ENV['INTERNETMARKE_WSDL_URL'] = ""

ENV['SMTP_SERVER'] = ''
ENV['SMTP_PORT'] = ''
ENV['SMTP_USER'] = ''
ENV['SMTP_PASSWORD'] = ''
ENV['SMTP_HELOHOST'] = ''

case ENV['RACK_ENV'] ||= 'development'

when 'test'
  ENV['TACPIC_SESSION_SECRET'] ||= "".unpack('m')[0]
  ENV['TACPIC_DATABASE_URL'] ||= "postgres://"
  ENV['PRODUCTION_ADDRESS'] = "dummy@tacpic.de"
when 'production'
  ENV['TACPIC_SESSION_SECRET'] ||= "".unpack('m')[0]
  ENV['TACPIC_DATABASE_URL'] ||= "postgres://"
  ENV['PRODUCTION_ADDRESS'] = "dummy@tacpic.de"
else
  ENV['TACPIC_SESSION_SECRET'] ||= "".unpack('m')[0]
  ENV['TACPIC_DATABASE_URL'] ||= "postgres://"
  ENV['PRODUCTION_ADDRESS'] = "dummy@tacpic.de"
end