ENV['APPLICATION_BASE'] = '/home/'
ENV['WEB_CONCURRENCY'] = '0'
ENV['RAILS_MAX_THREADS'] = '16'

# Internetmarke
ENV['PARTNER_ID'] = ''
ENV['KEY_PHASE'] = '1'
ENV['SCHLUESSEL_DPWN_MARKTPLATZ'] = ''
ENV['INTERNETMARKE_AUTH_TIMEOUT'] = '2700' # 45min
ENV['INTERNETMARKE_WSDL_URL'] = ''

# SMTP E-Mail
ENV['SMTP_SERVER'] = ''
ENV['SMTP_PORT'] = ''
ENV['SMTP_USER'] = ''
ENV['SMTP_PASSWORD'] = ''
ENV['SMTP_HELOHOST'] = ''

ENV['API_HOST'] = ''
# ENV['API_HOST'] = ''

# Rechtstexte Händlerbund
ENV['HAENDLERBUND_ACCESS_TOKEN'] = ''
ENV['HAENDLERBUND_API_KEY'] = ''
ENV['HAENDLERBUND_API_URL'] = ''

ENV['BACKUP_HOST'] = ''
ENV['BACKUP_PORT'] = 23
ENV['BACKUP_USER'] = ''
ENV['BACKUP_PWD'] = ''
ENV['BACKUP_INTERVAL'] = '5 0 * * *' # 5 mins after midnight, see man5 crontab

case ENV['RACK_ENV'] ||= 'development'
when 'test'
  ENV['TACPIC_SESSION_SECRET'] ||= "".unpack1('m')
  ENV['TACPIC_DATABASE_URL'] ||= ''
  ENV['PRODUCTION_ADDRESS'] = ''
  ENV['ACCOUNTING_ADDRESS'] = ''
  ENV['INTERNETMARKE_USERNAME'] = ''
  ENV['INTERNETMARKE_PASSWORD'] = ''
when 'production'
  ENV['TACPIC_SESSION_SECRET'] ||= "".unpack1('m')
  ENV['TACPIC_DATABASE_URL'] ||= ''
  ENV['PRODUCTION_ADDRESS'] = ''
  ENV['ACCOUNTING_ADDRESS'] = ''
  ENV['INTERNETMARKE_USERNAME'] = ''
  ENV['INTERNETMARKE_PASSWORD'] = ''
else
  ENV['TACPIC_SESSION_SECRET'] ||= "".unpack1('m')
  ENV['TACPIC_DATABASE_URL'] ||= ''
  ENV['PRODUCTION_ADDRESS'] = ''
  ENV['ACCOUNTING_ADDRESS'] = ''
  ENV['INTERNETMARKE_USERNAME'] = ''
  ENV['INTERNETMARKE_PASSWORD'] = ''
end
